*~
\#*
.cache/
*.eld
*.elc
*.pyc
straight/
server/
elpa/
*.data
history
lastdir
*.html
/config.el
/.org-id-locations
/helm-adaptive-history
/ido.last
/org-clock-save.el
/recentf
/smex-items
org-gcal/.org-gcal-token*
/transient/history.el
/var/prescient-save.el
bookmarks
